doctype html
html 
  head 
    title bumblewords 
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='leaderboard.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body 
    h1(class='noselect') bumblewords
    nav 
        a(href='/') back
    - var nickname = leaderboard.find(doc => doc.userId === userId) ? leaderboard.find(doc => doc.userId === userId).nickname : 'anonymous user'
    if showNickForm
      form(id="name-form" action="/leaderboard", method="post")
          label(for="username") your nickname:  
          input(type="text", id="username" name="username", value= nickname required)
          input(type="submit", value="submit")
    ul(id='leaderboard')
        each entry in leaderboard
            - var thisUser = (userId === entry.userId);
            - var crown = (entry.userId === leaderboard[0].userId) ? "👑" : "";
            li(class= thisUser ? "leader-entry this-user" : "leader-entry")
                span(class="crown")= crown
                span(class="userscore")= entry.score
                span(class="username")= entry.nickname
