doctype html
html 
  head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title bumblewords
    link(rel='stylesheet', href='style.css')
    link(rel="icon" type='img/ico' href="img/favicon.ico")
    link(rel="apple-touch-icon" type='img/png' href="img/apple-touch-icon.png")
  body
    h1(class='noselect') bumblewords
    nav
      a(href='/') back
    ul#yesterday-wordlist
    script.
      const WORDS = JSON.parse('!{words}');
      const LETTERS = JSON.parse('!{letters}');
    script(src="yesterday.js")
        