* {
    touch-action: manipulation;
}

body {
    background-color: white;
    margin-top: 8px;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 2px;
}

#scoreboard {
    font-size: 1em;
    height: 1.1em;
    margin-top: 5px;
}

#current-word {
    font-size: 1.5em;
    height: 1.6em;
    line-height: 1.6em;
    font-weight: 700;
}

#message {
    visibility: hidden;
    font-size: 1.2em;
    height: 1.3em;
    margin-bottom: 10px;
}

#key-tile {
    background-image: url(/img/yellow.png);
}

.tileLetter {
    font-size: 1.5em;
    font-weight: 725;
}

.hexGridContainer {
    padding-top: 32px;
}

#controls {
    margin-top: -15px;
}

#controls button {
    padding: 8px;
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

#wordlist {
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0px;
}

#yesterday-wordlist {
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#message.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.2s, fadeout 0.2s 1s;
    animation: fadein 0.2s, fadeout 0.2s 1s;
  }
  
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


@media all and (max-width: 450px) {
    .hexGridContainer {
        padding-top: 24px;
    }
    h1 {
        margin-top: 8px;
    }
    #wordlist {
        height: 160px;
        overflow-y: scroll;
    }
    #current-word {
        font-size: 1.3em;
        height: 1.4em;
        line-height: 1.4em;
    }
    #message {
        font-size: 1em;
        line-height: 1em;
        height: 1em;
        margin-bottom: 5px;
    }
}